.setting {
    height: 100vh;
    transform: translateY(-1000px);
    width: 100%;
    position: absolute;
    z-index: 999;
    display: grid;
    place-content: center;
    opacity: 0;
    backdrop-filter: blur(10px);
    transition: 0.5s;
    & .settingbar {
        min-height: 500px;
        min-width: 700px;
        backdrop-filter: blur(1rem);
        border-radius: 50px;
        background-color: rgba(141, 141, 141, 0.39);
        & .fa-circle-xmark {
            position: absolute;
            right: 30px;
            font-size: 1.5rem;
            top: 30px;
            color: rgba(255, 255, 255, 0.538);
            cursor: pointer;
        }
    }
}

.settingBar {
    opacity: 1;
    top: 0px;
    width: 100%;
    transform: translateY(0px);
}